.test {
    /* width: 1500px; */
    /* padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; */
}

.success-true {
    text-decoration: line-through;
}

body {
    padding-top: 5rem;
}

.starter-template {
    /*padding: 3rem 1.5rem;*/
    /* text-align: center; */
    margin-bottom: 10px;
}

.search-btn {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-btn {
    float: right;
    clear: both;
    margin-bottom: 5px;
}

.main-tbl {
    /* width: 100%; */
    /*width: 1200px;*/
    /*cellspacing: 0;*/
    /*table-layout: auto;*/
}

td {
    word-wrap: break-word;
}

#create-success-alert {
    margin-top: 5px;
    display: none;
    /* visibility: hidden; */
    /* position: absolute;
    width: 100%; */
}

#create-fail-alert {
    margin-top: 5px;
    display: none;
    /* visibility: hidden; */
    /* position: absolute;
    width: 100%; */
}

.modal-text-area {
    width: 100%;
    resize: none;
}


/*.container {
    background-color: red;
}*/

.st-sort-ascent:before {
    content: '\25B4';
}

.st-sort-descent:before {
    content: '\25BE';
}

.padding-zero {
    padding-right: 2px;
    padding-left: 2px;
}

.fa-times {
    color: red;
}

.fa-times {
    color: red;
}

.fa-plus, .fa-plus-circle {
    color: #228B22;
}

.fa-pencil-square-o {
    color: #1E90FF;
}

.fa-history {
    color: #FF8C00;
}

.fa-sticky-note {
    color: #708090;
}

.fa-wrench {
    color: black;
}
