.test {
    /* width: 1500px; */

    /* padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; */
}

.success-true {
    text-decoration: line-through;
}

body {
    padding-top: 5rem;
}

.starter-template {
    /*padding: 3rem 1.5rem;*/
    text-align: center;
    margin-bottom: 10px;
}

.search-btn {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-btn {
    float: right;
    clear: both;
    margin-bottom: 5px;
}

.main-tbl {
    /* width: 100%; */
    /*width: 1200px;*/
    /*cellspacing: 0;*/
    /*table-layout: auto;*/
}

td {
    word-wrap: break-word;
}

#create-success-alert {
    margin-top: 5px;
    display: none;
    /* visibility: hidden; */
    /* position: absolute;
    width: 100%; */
}

#create-fail-alert {
    margin-top: 5px;
    display: none;
    /* visibility: hidden; */
    /* position: absolute;
    width: 100%; */
}

#notes-area {
    width: 100%;
    resize: none;
}


/*.container {
    background-color: red;
}*/
