.success-true{
    text-decoration: line-through;
}

body {
  padding-top: 5rem;
}

.starter-template {
  /*padding: 3rem 1.5rem;*/
  text-align: center;
}

.search-btn {
  margin: 10px;
}

.submit-btn {
    float: right;
    clear: both;
    margin-bottom: 5px;
}

.machines-tbl {
    width: 100%;
    /*width: 1200px;*/
    /*cellspacing: 0;*/
    /*table-layout: auto;*/
}

td {
    word-wrap: break-word;
}

#create-success-alert {
    visibility: hidden;
}

#notes-area {
    width: 100%;
    resize: none;
}

/*.container {
    background-color: red;
}*/
