<form name="edit_history_form" class="container" ng-submit="updateHistory()">
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="serialNo">Serial No.</label>
            <input type="text" class="form-control" id="serialNumber" ng-model="history.serialNumber" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="workOrderNumber">Work Order No.</label>
            <input type="text" class="form-control" id="workOrderNumber" ng-model="history.workOrderNumber" readonly>
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="workOrderDate">Work Order Date</label>
            <input type="text" class="form-control" id="workOrderDate" placeholder="MM/DD/YYYY" ng-model="history.workOrderDate" pattern="^(0[1-9]|1[012])/(0[1-9]|[12][0-9]|3[01])/(19|20)\d\d$" pattern-notification="Dates must be in MM/DD/YYYY format">
        </div>
        <div class="col-md-3 mb-3">
            <label for="workOrderType">Work Order Type</label>
            <input type="text" class="form-control" id="model" ng-model="history.workOrderType">
        </div>
        <div class="col-md-3 mb-3">
            <label for="reportedBy">Reported By</label>
            <input type="text" class="form-control" id="model" ng-model="history.reportedBy">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 mb-3">
            <label for="actionTaken">Action Taken</label>
            <textarea class="form-control" rows="15" id="actionTaken" ng-model="history.actionTaken" required></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary submit-btn" type="submit" ng-class="{'disabled': saving == true}">
                <span ng-show="saving == true"><i class="fa fa-spinner"></i></span> Save
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="create-success-alert" class="alert alert-success fade show text-center" role="alert">
                Success!
            </div>
            <div id="create-fail-alert" class="alert alert-danger fade show text-center" role="alert">
                <strong>Oops!</strong> {{errMsg}}
            </div>
        </div>
    </div>
</form>
<toast></toast>
