<table class="table table-bordered machines-tbl">
  <thead>
    <tr>
      <th data-sortable="true">Work Order No.</th>
      <th>Work Order Date</th>
      <th>Work Order Type</th>
      <th>Reported By</th>
      <th>Created On</th>
      <th>Last Updated On</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="h in history">
        <td>
            {{h.workOrderNumber}}
        </td>
        <td>
            {{h.workOrderDate}}
        </td>
        <td>
            {{h.workOrderType}}
        </td>
        <td>
            {{h.reportedBy}}
        </td>
        <td>
            {{h.dateOfCreation}}
        </td>
        <td>
            {{h.lastUpdated}}
        </td>
        <td>
            <a href="#/edit_history/{{h.serialNumber}}/{{h.workOrderNumber}}" title="Edit history"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a ng-click="setDelAim( h.serialNumber, h.workOrderNumber )" onclick="return false;" href="#del" data-toggle="modal" data-target="#del" title="Delete history"><i class="fa fa-times" aria-hidden="true" title="Delete history"></i></a>
        </td>
    </tr>
  </tbody>
</table>
<div class="modal fade" id="del" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Are you sure you want to delete this record forever?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="delHistory()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
